body {
    background-color: whitesmoke;
    padding-top: 65px;
}

.content-pane {
	background-color: white;
    padding-top: 5px;
}

.label-ongoing {
    color: black;
    background-color: whitesmoke;
}
